@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
}
.App{
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(69, 144, 194);
  font-family: sans-serif;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  /* border: 1px solid pink; */
  height: 80vh;
  min-height: 500px;
  background: linear-gradient( rgb(48, 62, 143), rgb(47, 150, 163));
}
.current{
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}
.forecast{
  height: 30%;
  bottom: 0;
  /* border: 1px solid pink; */
}

@media only screen and (max-width: 900px) {
    .container{
      margin-top: 150px;
      width: 100%;
      height: 100vh;
    }
    .App{
      background: rgb(48, 62, 143);

    }
  
}

